<html ng-app="unicornX">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="{{ url_for('static', filename='bower_components/angular-bootstrap/ui-bootstrap.min.js') }}"></script>
  <link href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet">
  <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='jquery.cookie.js')}}"></script>
  <script src="{{ url_for('static', filename='bower_components/lodash/lodash.min.js') }}"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
  <script>
    var authtoken = $.cookie("token");
    window.authtoken = authtoken;
  </script>
  <style>
    .cipa {
      height: 80px;
      width: 80px;
      margin-bottom: 25px;
    }

  .lol-co {
      margin-left: 10px;
      height: 40px;
      display: inline-block;
  }

  .center {
    width: 64px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 10px;
  }

    .center2 {
        width: 800px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
     .confirm-btn {
         right: 25px;
         position: absolute;
     }
  </style>

  <script src="{{url_for('static', filename='angular/app.js')}}"></script>

  <title>UnicornX</title>

  <!-- LUBICIE TOSTY???!!11 -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <script src="{{url_for('static', filename='jquery.toaster.js')}}"></script>
  <!-- TOSTY SIE SKONCZYLY -->
</head>
<body onload="getProfile();" ng-controller="UnicornCtrl" style="margin-top: 50px;">
<div class="container">
  <div>
    <div id="wyjebmnie">
      <img src="{{url_for('static', filename='unicorn.jpg')}}" class="center-block cbi">
    </div>
    <div class="page-header text-center">
      <h1>
        <small>Hello, <span id="my_name" style="display:inline;"></span>. How can I help you today?</small>
      </h1>
    </div>

    <form action="#" ng-submit="get_query($event)" >
      <input ng-model="query" ng-change="quornuj()" class="form-control text-center" style="font-size: 25px; height: 50px" type="text" autofocus>

    </form>
  </div>
</div>
<div id="herestuff"></div>
<script>
  var events = [];
  function perm() {
    $.getJSON("https://graph.facebook.com/me/permissions?access_token=" + authtoken, function (info) {
      console.log(info);
    });
  }
  function getProfile() {
    perm();
    $.get("https://graph.facebook.com/me?access_token=" + authtoken, function (data) {
      console.log(data);
      $('#my_name').html(data['name']);
      $('#my_profilepic').html("<img src='https://graph.facebook.com/" + data['id'] + "/picture'>");
      //getEvents(authtoken);//,function(events) {console.log(events);});
    });
  }
</script>

<div ng-show="loading" class="center">
    <img src="{{url_for('static', filename='spinner.gif')}}">
</div>
{% raw %}
<!--what can i get michael for his birthday-->
<div>
    <div ng-show="isVisible('birthdays')">
        <div class="container">
            <div class="jumbotron present">
                <h2>We found that your friend {{name}} likes</h2>

                <h3><div class="row">
                    <!-- position: relative; top: 0; right: -.3em; padding-left: .4em;-->
               <div ng-repeat="like in likes" class="lol-co">
               <span class="label label-primary">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"
                        style="font-size:.8em; ">
                       {{like}}
                    </span></span></div></div>
                </h3>

                <h2>... so we thought that these are good present ideas:</h2>
                    <div class="row">
                        <div class="col-sm-6 col-md-4" ng-repeat="product in products" >
    <div class="thumbnail" style="height: 350px;">
        <div style="height: 150px;">
      <img src="{{product.image}}" alt="Image" class="center-block"></div>
      <div class="caption">
        <h5 style="height: 60px;">{{product.name}}</h5>
        <p>Price £{{product.price}}</p>
        <p><a href="{{product.offer_url}}" class="btn btn-primary" target="_blank" role="button">Get it now!</a></p>
      </div>
    </div>
  </div>
                   <!-- <div 
                        style="padding: 10px;">
                        <div class="col-md-2" style="height: 100px;">
                            <a href="{{ product.offer_url }}" target="_blank">
                                <img class="cipa" alt="Product Details" ng-src="{{ product.image }}"/>
                            </a>
                        </div>
                        <div class="col-md-4" style="height: 100px;">
                                <a title="{{product.name}}" href="{{product.offer_url}}" target="_blank">
                                    <b>
                                        {{product.name}}
                                    </b>
                                </a>                      
                                    <span>£{{product.price}}</span>
                        </div>
                    </div>-->
            </div>
        </div>
        </div>
    </div>
</div>


<div class="container" ng-show="isVisible('travel') && longTravel" id="hotel">
  <div class="jumbotron">
    <div class="map">
      <iframe class="center2"
        width="800"
        height="600"
        frameborder="0" style="border:0"
        ng-src="{{getRU}}"
        allowfullscreen>
      </iframe>
    </div>
    <div class="info">

      <hr>

        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="place in accomodation.result|orderBy:'-rating'" >
                <div class="thumbnail" style="height: 400px;">
                    <div style="height: 180px;">
                        <img src="{{place.photos[0].medium}}" alt="Image" style="border: 1px solid black" class="center-block"></div>
                    <div class="caption">
                        <h4 style="height: 80px;">{{place.location.all}}</h4>
                        <p>Price £{{place.price.nightly}}</p>

                        <span class="glyphicon glyphicon-star" ng-repeat="rating in place.rating"></span>
                        <p><a ng-href="{{ place.provider.url }}" class="btn btn-primary confirm-btn" target="_blank" role="button">Book now!</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="cleared"></div>
  </div>
</div>


<div class="container" ng-show="isVisible('travel') && shortTravel" id="hotel">
  <div class="jumbotron">
    <div class="map">
      <iframe class="center2"
        width="800"
        height="600"
        frameborder="0" style="border:0"
        ng-src="{{getRU}}"
        allowfullscreen>
      </iframe>
    </div>
    <div class="info">

      <hr>

        <div class="row">
            Short Travel
        </div>

    </div>
    <div id="cleared"></div>
  </div>
</div>
</div>

<div class="container" ng-show="restaurants" id="restaurants">
<div class="jumbotron">
  <div id="map" style="width: 900px; height: 720px;"></div>
</div>
</div>
{% endraw %}

</body>
</html>