<html ng-app="unicornX">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <link href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet">
  <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='jquery.cookie.js')}}"></script>
  <script src="{{ url_for('static', filename='bower_components/lodash/lodash.min.js') }}"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
  <script>
    var authtoken = $.cookie("token");
    window.authtoken = authtoken;
  </script>
  <style>
    .cipa {
      height: 80px;
      width: 80px;
      margin-bottom: 25px;
    }

  .lol-co {
      margin-left: 10px;
  }

  </style>

  <script src="{{url_for('static', filename='angular/app.js')}}"></script>

  <title>UnicornX</title>

  <!-- LUBICIE TOSTY???!!11 -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <script src="{{url_for('static', filename='jquery.toaster.js')}}"></script>
  <!-- TOSTY SIE SKONCZYLY -->
</head>
<body onload="getProfile();" ng-controller="UnicornCtrl">
<div class="container" >
  <div>
    <div id="wyjebmnie">
      <img src="{{url_for('static', filename='unicorn.jpg')}}" class="center-block cbi">
    </div>
    <div class="page-header text-center">
      <h1>
        <small>Hello, <span id="my_name" style="display:inline;"></span>. How can I help you today?</small>
      </h1>
    </div>

    <form action="#" ng-submit="get_query($event)" >
      <input ng-model="query" ng-change="quornuj()" class="form-control text-center" style="font-size: 25px; height: 50px" type="text" autofocus>

    </form>
  </div>
</div>
<div id="herestuff"></div>
<script>
  var events = [];
  function perm() {
    $.getJSON("https://graph.facebook.com/me/permissions?access_token=" + authtoken, function (info) {
      console.log(info);
    });
  }
  function getProfile() {
    perm();
    $.get("https://graph.facebook.com/me?access_token=" + authtoken, function (data) {
      console.log(data);
      $('#my_name').html(data['name']);
      $('#my_profilepic').html("<img src='https://graph.facebook.com/" + data['id'] + "/picture'>");
      //getEvents(authtoken);//,function(events) {console.log(events);});
    });
  }
</script>



{% raw %}
<div>
    <div ng-show="isVisible('birthdays')">
        <div class="container">
            <div class="jumbotron present">
                <h2>We found that your friend {{name}} likes</h2>

                <h3>
                <span ng-repeat="like in likes" class="label label-primary lol-co">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"
                        style="font-size:.8em; position: relative; top: 0; right: -.3em; padding-left: .4em;">
                       {{like}}
                    </span></span>
                </h3>

                <h2>... so we thought that these are good present ideas:</h2>

                <h3>
                    <div ng-repeat="product in products">
                        <div id="DIV_1">
                            <div id="DIV_2">
                                <div id="DIV_3">

                                    <a href="{{ product.offer_url }}" target="_blank" id="A_4">
                                        <img class="cipa" alt="Product Details" ng-src="{{ product.image }}" id="IMG_5"/>

                                    </a>

                                    <div id="DIV_6">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="DIV_7">
                            <div id="DIV_8">
                                <a title="{{product.name}}" href="{{product.offer_url}}" target="_blank" id="A_9">

                                    <h2 id="H2_10">
                                        {{product.name}}
                                    </h2>
                                </a>
                            </div>
                            <div id="DIV_11">
                                <a href="{{product.offer_url}}" target="_blank" id="A_12">
                                    <span id="SPAN_13">£{{product.price}}</span>
                                </a>
                                <i id="I_15"></i>
                            </div>
                        </div>
                    </div>
                </h3>
            </div>
        </div>
    </div>
</div>


<div class="container" ng-show="isVisible('travel')" id="hotel">
  <div class="jumbotron">
    <div class="map">
      <iframe
        width="400"
        height="600"
        frameborder="0" style="border:0"
        ng-src="{{getRU}}"
        allowfullscreen>
      </iframe>
    </div>
    <div class="info">



      <hr>
      <h2>Your reservation in Aloft Silicon Valley</h2>

    </div>
    <div id="cleared"></div>
  </div>
</div>
</div>


<div class="container" ng-show="isVisible('restaurants')" id="restaurants">
  <div class="jumbotron">

    <div id="map" style="width: 900px; height: 720px;"></div>

  </div>
</div>
</div>
{% endraw %}

</body>
</html>